<div class="container">
  <div class="left">
    <h3 class="fs-2 text-center">🌟 بايت كير – لأن التكنولوجيا تستحق الأفضل! 🌟</h3>
    <h4 class="fs-3 text-center">🔧 كل جهاز يحتاج إلى العناية—لنأخذ تجربتك الرقمية إلى المستوى التالي! 💻</h4>
    <p class="fs-5">نحن نفهم احتياجاتك التقنية ونحوّل التحديات إلى حلول 💡—لنضمن لك تجربة تكنولوجية استثنائية! 🚀</p>
    <div class="services-container">
      <div class="services-title">خدماتنا : </div>
      <div  class="services-list fs-2">
        <span style="--i:0;" data-text="إصلاح الأجهزة.">إصلاح الأجهزة.</span>
        <span style="--i:1;" data-text="بيع أجهزة اللاب توب.">بيع أجهزة اللاب توب.</span>
        <span style="--i:2;" data-text="تثبيت أنظمة التشغيل.">تثبيت أنظمة التشغيل.</span>
        <span style="--i:3;" data-text="تثبيت البرامج.">تثبيت البرامج.</span>
        <span style="--i:4;" data-text="الطباعة والتنسيق.">الطباعة والتنسيق.</span>
      </div>
    </div>
  </div>
  <div class="right">
    <img src="home.jpg" alt="my image">
  </div>
</div>
