<div class="container">
  <div class="left">
    <h3 class="fs-2 text-center">🌟 Byte Care – لأن التكنولوجيا تستحق الأفضل! 🌟</h3>
    <h4 class="fs-3 text-center">🔧 لأن كل جهاز يستحق الرعاية، دعنا نرفع مستوى تجربتك الرقمية! 💻</h4>
    <p class="fs-5">حيث نفهم احتياجاتك التقنية ونُحوّل مشاكلك التقنية إلى حلول 💡 لنحقق لك تجربة تقنية استثنائية! 🚀</p>
    <div class="services-container">
      <div class="services-title">خدماتنا : </div>
      <div class="services-list fs-2">
        <span style="--i:0;" data-text="صيانه Hardware">صيانه Hardware</span>
        <span style="--i:1;" data-text="صيانه Software">صيانه Software</span>
        <span style="--i:2;" data-text="بيع أجهزة اللاب توب.">بيع أجهزة اللاب توب.</span>
        <span style="--i:3;" data-text="تثبيت أنظمة التشغيل.">تثبيت أنظمة التشغيل.</span>
        <span style="--i:4;" data-text="تثبيت البرامج.">تثبيت البرامج.</span>
        <span style="--i:5;" data-text="خدمات الكتابه والتنسيق.">خدمات الكتابه والتنسيق.</span>
      </div>
    </div>
    <div class="button-group d-flex justify-content-center">
      <a (click)="onSelect('services')" class="btn btn-primary m-5 tech-btn services-btn">خدماتنا</a>
      <a href="https://t.me/+4oxnNQRTTGU3YjA0" class="btn btn-primary m-5 tech-btn contact-btn">اتصل بنا</a>
    </div>
  </div>
  <div class="right">
    <img src="homee.jpeg" alt="my image">
  </div>
</div>
