/* You can add global styles to this file, and also import other style files */
* {
  list-style: none;
  color: #E5E7EB  !important;
}
a{
  text-decoration: none;
}
body {
  margin: 0;
  background: radial-gradient(#1E1E1E, #121212);
  min-height: 100vh;
}
